{% extends "management/base.html" %}
{% load staticfiles %}
{% load comments %}
{% block title %}查看图书{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-5">
                    {% if book.img_set.all %}
                        <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for img in book.img_set.all %}
                                    <li data-target="#carousel-generic" data-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                {% for img in book.img_set.all %}
                                    <div {% if forloop.first %}class="item active"{% else %}class="item"{% endif %}>
                                        <img class="img-rounded" src="{% url 'media' img.img %}">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    {% else %}
                        <p class="text-center">暂无图片</p>
                    {% endif %}
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-center">{{ book.name }}</h2>
                    <br>
                    <h3>出版社：{{ book.author }}</h3>
                    <h3>类别：{{ book.category }}</h3>
                    <h3>出版日期：{{ book.publish_date|date:"Y-m-d" }}</h3>
                    <h3>贝壳数：{{ book.price|floatformat:2 }}</h3>
                    <h3>
                    <a href="{% url 'wordslist'%}?classs={{ book.name}}">开始背单词(点我)</a>
                    </h3>
                    <hr>
                    <form action="/wordslist/" method="post">
                        <input cols=3 row=1 name='num'>
                        <input type="submit" value="我要背这么多" id="id_submit">
                    </form>
                    <hr>

                </div>
            </div>
        </div>
    </div>

    <hr>
    <form action="/sub_comment/" method="post">
        <textarea cols=80 row=3 name='comment_content'></textarea>
        <input type="hidden" name="book_id" value="{{book.id}}"/>
        <input type="submit" value="评价这本单词书" id="id_submit">
    </form>
    <hr>
<div>
    {% get_comment_count for book as comment_count %}
    <h4>评论总数：{{ comment_count }}</h4>
</div>

<div>
<hr>
<h3>
{% get_comment_list for book as comment_list %}
    {% for comment in comment_list reversed %}
        {{ comment.submit_date}}
        <br>
        From:  {{ comment.name}}
        <br>
        {{comment.comment}}
        <hr>
        <hr>
    {% endfor %}
</h3>
</div>

{% endblock %}