{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}单词书管理{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <h2>&emsp;&emsp;智慧词根，派生词，权威英文字典</h2>
                <h2>&emsp;&emsp;精选英文例句真人发音</h2>
                <h2>&emsp;&emsp;启发式提示抗遗忘</h2>
                <h2>&emsp;&emsp;单词记住啦</h2>
                <h3 class="text-center">Email:<span class="text-info">826820032@qq.com</span></h3>
                <h3 class="text-center">Tel:<span class="text-info">15651960255</span></h3>
            </div>
        </div>
    </div>

{% endblock %}