{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}查看单词列表{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="{% url 'view_book_list' %}" class="list-group-item" id="id_category_all">
                            全部范围
                        </a>
                        {% for category in category_list %}
                            <a href="{% url 'view_book_list' %}?category={{ category }}" class="list-group-item"
                               id="id_category_{{ category }}">
                                {{ category }}
                            </a>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $('#id_category_{{ query_category }}').addClass("active");
                    </script>
                </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>单词:</th>
                            <th>中文解释：</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for word in words %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'worddetail' %}?id={{ word.id }}">{{ word.eword}}</a></td>

                                <td>{{ word.cword }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无图书</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


{% endblock %}